.tabcss_main {
	background-color:#FFFFFF;
	border:1px solid #c3dde0;
	color:#000; 
	font-family:Arial, Verdana Helvetica, sans-serif;
	font-size:14px;color:#000000;
	text-align: center;	
	padding: 8px 0;
}
.tabcss_main1 {
	/*background-color:#FFFFFF;*/
	border:1px solid #c3dde0;
	color:#000; 
	font-family:Arial, Verdana Helvetica, sans-serif;
	font-size:14px;color:#000000;
	text-align: center;	
	padding: 4px;margin-left:11px;
}
.errortext {
	/*background-color:#FFFFFF;
	border:1px solid #c3dde0;*/
	color:#000; 
	font-family:Arial, Verdana Helvetica, sans-serif;
	font-size:12px;color:red;
	padding: 3px;
	font-weight:bold;
}

.normtextfir {
	/*background-color:#FFFFFF;
	border:1px solid #c3dde0;*/
	color:#000; 
	font-family:Arial, Verdana Helvetica, sans-serif;
	font-size:14px;color:#727272;
	padding: 5px;
}
.normtext {
	/*background-color:#FFFFFF;*/
	/*border:1px solid #c3dde0;*/
	color:#000; 
	font-family:Arial, Verdana Helvetica, sans-serif;
	font-size:13px;color:#727272;
	padding: 4px;margin-left:11px;
}
.headtext {font-family:Arial, Verdana Helvetica, sans-serif;color:#727272;font-weight:bold;padding:11px;}
.sideheadtext {background-color:#3399FF;font-family:Arial, Verdana Helvetica, sans-serif;color:white;font-size:14px;font-weight:bold;padding:5px;}
.wrapper{
	/* width:90%; */
	height:auto;
	margin:auto;
	/* border:1px solid #ecebeb; */
}
.header{
	width:98%;
	height:84px;
	/*border:1px solid red;*/
	padding:10px; 
}
.menu_content{
	width:100%;
	/*height:35px;
	/*margin:5px;*/
	/*border:1px solid blue;*/
	/*background-color:#c3dde0;
	background-image: url(images/line_newbg.jpg);
	background-repeat: repeat-x;*/
}	
.main_content{
	width:99%;
	/* height:74%; */
	margin:5px;
	background-color:#F8F8F8;
/*	border:1px solid red;*/
	/*box-shadow: 1px 1px 1px 1px  black;*/
}
.main_content1{
	width:98%;
	height:74%;
	margin:10px;
	background-color:#F8F8F8;
	/*border:1px solid red;
	/*box-shadow: 1px 1px 1px 1px  black;*/
}
.logo_menupart{
	width:204px;
	height:90px;
	margin:5px;
	/*border:1px solid yellow;*/
}
.logo{
	width:161px;
	height:67px;
	margin:2px 0px 0px 0px;
	float:left;
}
.menu_mainpart{
	width:1043px;
	height:67px;
	float:left;
}
.left{
	width:16%;
	height:98%;
	float:left;
	margin:5px;
	/* border:1px solid #ecebeb; */
}
.right{
	width:81%;
	height:98%;
	float:left;
	margin:5px;
	/* border:1px solid #c3dde0; */
	background-color:#FFFFFF;
	/* overflow:auto; */
	padding:0px;
}
.head_left{
	width:14%;
	height:78px;
	float:left;
	margin:5px;
	
}
.head_mid{
	width:46%;
	height:78px;
	float:left;
	margin:5px;
	/*border:1px solid green;*/
}
.head_right{
	width:30%;
	height:78px;
	float:left;
	margin:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	/*border:1px solid green;*/
}
.log_outright{
	width:6%;
	height:78px;
	float:left;
	margin:5px;
	/*border:1px solid green;*/
}
.menu_fontstyle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:white;
	
}
.menu_fontstyle a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12;
	font-weight: bold;
	color: #FFFFFF;
}
.glossymenu{
	margin: 0px 0;
	padding: 0;
	width:100%;
	border-bottom-width: 0;
}
.glossymenu a{
	margin: 0px 0 0;
	padding: 0;
}
.glossymenu a.menuitem{
	background: black url(images/glossyback2.gif) repeat-x top left;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: white;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	border:1px solid #236fbb;
	height:18px;
	padding: 5px 0px 0px 0;
	padding-left: 10px;
	text-decoration: none;
}
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
	color: white;
}
.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
}
.glossymenu a.menuitem:hover{
	background-image: url(images/glossyback2.gif);
}
.glossymenu div.submenu{ 
	background: #fff;
	padding:5px;
}
.glossymenu div.submenu ul{ /*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	background:#fff;
	border-bottom: 1px solid #ccc;
	padding: 0;
}
.glossymenu div.submenu ul li{
	/*border-bottom: 1px solid blue;*/
}
.glossymenu div.submenu ul li a{
	display: block;
	font: normal 13px Arial, Helvetica, sans-serif;
	color: #003ea8;
	text-decoration: none;
	padding: 5px 0;
	text-decoration:underline;
	padding-left: 10px;
}
.glossymenu div.submenu ul li a:hover{
	background: #cef5b3;
	text-decoration:none;
	color: white;
}
.down-arrow {
	display: inline-block;
	position: relative;
	background: darkcyan;
	padding: 15px 0;
	width: 200px;
	text-align: center;
}

.menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.menu ul{
	background:#1b9bff;
	height:45px;
	list-style:none;
	margin:0;
	padding:0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
			-webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
	-moz-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
	box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
}
.menu li{
	float:left;
	padding:0px 0px 0px 15px;
}
.menu li a{
	color:#000;
	display:block;
	font-weight:normal;
	line-height:50px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}
.menu li a:hover{
	background:#C60;
	color:#FFFFFF;
	text-decoration:none;
	-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
}
.menu ul li:hover a{
	background:#C60;
	color:#FFFFFF;
	text-decoration:none;
}
.menu li ul{
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:120px;
	z-index:200;
}
.menu li:hover ul{
	display:block; 
}
.menu li ul a:hover, .menu li ul li:hover a{
	border:0px;
	color:#ffffff;
	text-decoration:none;
	background:#C60;
	-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3); 
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid red;
	top:134px;
	left:438px;
	position:absolute;
}
.font-head {
	font-family:Arial, Verdana Helvetica, sans-serif;
	font-size:14px;
	color:#000000; 
	font-weight:bold;
	margin:5px;
}
.font-head_tr {
	font-family:Arial, Verdana Helvetica, sans-serif;
	font-size:14px;
	color:#000000; 
	
}
.myButton {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:2px solid #ecebeb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:0px 1px 18px #263666;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
.comment-content {
  clear: both;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px 30px;
  margin-bottom: 20px;
  }
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #39b1cc;
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
}
#cssmenu > ul {
  background: url('images/bg.png');
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li {
  float: left;
  display: inline-block;
}
#cssmenu.align-center > ul {
  float: none;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li > a {
  padding: 18px 25px 21px 25px;
  border-right: 1px solid rgba(80, 80, 80, 0.12);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #d3eced;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
  color: #ffffff;
  background: #32a9c3;
  background: rgba(0, 0, 0, 0.1);
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 45px;
}
#cssmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 22px;
}
#cssmenu > ul > li.has-sub.active > a::after,
#cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 6px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
#cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
#cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}
#cssmenu > ul > li > ul {
  top: 120px;
}
#cssmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#cssmenu.align-right ul ul ul {
  padding-right: 6px;
}
#cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
#cssmenu ul ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 11px 25px;
  width: 153px;
  color: #777777;
  background: #FCDFFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index:1000;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color: #333333;
}
#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu > ul > li > ul::after {
  position: absolute;
  display: block;
}
#cssmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px;
}
#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
#cssmenu.align-right ul ul li.has-sub.active > a::after,
#cssmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent;
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    background: #39b1cc;
  }
  #cssmenu > ul {
    display: none;
  }
  #cssmenu > ul.open {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  #cssmenu.align-right > ul {
    float: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu > ul > li > a {
    padding: 18px 25px 18px 25px;
    border-right: 0;
  }
  #cssmenu > ul > li:hover > a,
  #cssmenu > ul > li.active > a {
    background: rgba(0, 0, 0, 0.1);
  }
  #cssmenu #menu-button {
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #d3eced;
    padding: 18px 25px 18px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: url('images/bg.png');
    cursor: pointer;
  }
  #cssmenu ul ul,
  #cssmenu ul li:hover > ul,
  #cssmenu > ul > li > ul,
  #cssmenu ul ul ul,
  #cssmenu ul ul li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul li:hover > ul,
  #cssmenu.align-right > ul > li > ul,
  #cssmenu.align-right ul ul ul,
  #cssmenu.align-right ul ul li:hover > ul {
    left: 0;
    right: auto;
    top: auto;
    opacity: 1;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
  }
  #cssmenu ul ul li {
    width: 100%;
  }
  #cssmenu ul ul li a {
    width: 100%;
    box-shadow: none;
    padding-left: 35px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 45px;
  }
  #cssmenu ul ul li:first-child > a,
  #cssmenu ul ul li:last-child > a {
    border-radius: 0;
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    border-bottom: 2px solid #d3eced;
    right: 25px;
    top: 18px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    right: 25px;
    top: 28px;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
}
.calendarset{
	width:100%;
	height:auto;
	float:left;
	margin:2px;
	border:1px solid #c3dde0;
	background-color:#FFFFFF;
	/*overflow:auto;*/
	padding:0px;
}
  